/********** Template CSS **********/
:root {
    --primary: #342987;
    --secondary: #11093c;
    --light: #FFFFFF;
    --dark: #171616;
}
.bg-primary1{
    background-color:#342987 !important;
    color: #342987 !important;
}
.text-primary1{
    color: #342987 !important;
}
.bg-secondary1{
    background-color: #746e78;
    color: #11093c;
}
.text-secondary1{
    color:  #eae6e6;

}



body{
   background: #eae6e6 !important;
}

h1,h2,h3,h4,h5{
   font-family: 'Pacifico';
}
p{
   text-align: justify;
   line-height: 30px;
   letter-spacing: 1px;
   word-spacing: 1px;
   padding-right: 5px;
   font-size: 18px;
   color: rgb(146, 141, 141);
}
 

/* navbar */
   
.fa-magnifying-glass{
   position: relative;
    left: 100px;
    top: 33px
}
@media(max-width:1080px){
   .a1{
      display: none !important;
   }
   .fa-magnifying-glass{
      display: none !important;
   }
}

.a{
   margin: -66px -96px;
   font-size: 32px;
   padding-left: 212px;
   padding-top: 86px;
}

@media(max-width:1400px){
   .a{
      display: none !important;
   }
}
   
.navbar-dark .navbar-nav li:hover {
      padding: 0px 10px;
   
}
.navbar-dark .navbar-nav li a{
   color: #fff !important;
   font-weight: 600;
   font-size: 20px;
}

.navbar-dark .navbar-nav .dropdown-item{
   color: black !important;
   font-weight: 600;
   font-size: 20px;
}

/* .banner1{
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
 } */


/* footer css */

.img1{
    background: url(https://demowebsite12.netlify.app/img/footer.png) center bottom no-repeat;
    opacity:1;
    margin-top: 100px;
    /* color: white;
    height:400px;
      width:100%; */
 }
 .ts1{
    height: 400px;
    opacity:0.9;
 }
 
 .nl{
    margin-top: -50px !important;
    margin-bottom: -54px;
    padding-top: 101px !important;
 }
   .line-height{
    line-height: 2;
 }
 
 
  @media(max-width:900px)
  {
    .banner{
            height: 400px;
       }
  }
 
 
 
  /* footer media query */
 
  @media(max-width:990px){
    .img1{
       width: 100%;
       height: 945px;
    }
    .ts1{
        background-color: rgb(16, 199, 177);
        height: 945px;
        width:100%;
        opacity:0.9;
     }
    .nl{
           margin-top: 0px !important;
           margin-bottom: -51px;
           padding: 334px 64px !important;
     }
  }
  @media(max-width:775px){
    .img1{
       width: 100%;
       height: 1260px;
    }
    .ts1{
        background-color: rgb(16, 199, 177);
        height: 1260px;
        width:100%;
        opacity:0.9;
     }
    .nl{
        margin-top: 21px;
           padding: 48px!important;
     }
  }